;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Nov 22 23:07:41 2012
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/org-mode/101152025/20101152025.org"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/matriux/work/analysis.org"
  "analysis.org"
  'org-mode
  '(auto-fill-mode linum-mode hi-lock-mode yas-minor-mode flyspell-mode)
  3235
  '(2647 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines . t)))

(desktop-create-buffer 206
  "/home/matriux/work/analysis.html"
  "analysis.html"
  'html-mode
  '(auto-fill-mode linum-mode hi-lock-mode yas-minor-mode flyspell-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

